@charset "utf-8";

.playwrite-nz-basic-guides-regular {
  font-family: "Playwrite NZ Basic Guides", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
    margin-left : auto; margin-right : auto;
    text-align: center;
    height: 500;
    background-color: antiquewhite;
    font-family: "맑은 고딕";
    line-height: 1.7;
    background-image: url(../image/cover.png);
}

h1 {
    color:rgb(0, 44, 0);
}

h2 {
    color:rgb(20, 63, 0);
}

div p {
    color : rgb(50, 75, 0);
    font-size: 50px;
    font-family: "궁서체";
}

p {
    font-family: "Playwrite NZ Basic Guides", cursive;
    font-size: 30px;
}

.item {
    background: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px
}

.container {
    display : flex;
    justify-content : center;
    align-items : stretch;
    height: 100px;
}