@charset "utf-8";

#all-container {
    margin-left: 15%;
    margin-right: 15%;
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

* {
    margin: 0;
    padding: 0;
}

/* =========== HEADER =========== */



.button {
    border: none;
    background-color: white;
    height: 30px;
    font-size: 16px;
}

#openbutton {
    width: 100%;
    background-color: white;
}

.header-con{
        display: flex;
        justify-content: flex-end;
    }

.regis{
    width: 400px;
}

.regis ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.stick{
    margin-left: 1%;
    margin-right: 1%;
}


.search {
    position: fixed;
    right: 0;
    top: 45px;
    width: 100vw;
    z-index: 9999;
    overflow: hidden;
    max-height: 0;
    height: 300px;
    transition: max-height 0.4s ease-out;
    background-color: white;
    text-align: center;
}

.search.open {
    max-height: 300px;
    background-color: white;
    box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.4);
}

#headerlogo {
    margin-top: 10px;
    height: 30px;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}


#searchbox {
    margin-top: 50px;
    height: 50px;
    width: 40%;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
}

.headerflex2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 30px;
}

.color {
    background-color: rgb(199, 199, 199);
    border-radius: 15%;
    
}

#searchsubmit {
    line-height: 30px;
    text-align: center;
    height: 30px;
    padding-left: 10px;
    padding-top: 45px;
}

#searchicon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xxxx {
    font-size: 30px;
}


/* header */
.header-con{
    display: flex;
    justify-content: flex-end;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.cno{
    margin-left: auto;
    margin-right: auto;
}
:root{
    --site-width: 480px;
}
.con-min-width{
    min-width: var(--site-width);
}

.top-bar > .con{
    width: var(--site-width);
}
.drop > ul > li{
    display: inline-block;
}
.drop{
    text-align: center;

}

.drop > ul ul{
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.drop ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.drop a{
    color: inherit;   
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 15px;

    display: inline-block;
    padding: 10px 20px;
}

.drop ul > li:hover > a{
    color: red;
}

.drop > ul > li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
}

.drop > ul > li{
    position: relative;
}
.drop > ul > li > ul {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    background-color: white;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-sizing: border-box;
    z-index: 10;;
}

.drop-a{
    border: solid 1px black;
}

#drop-list{
    font-size: 0.987rem;
}

/*================== 배너 ===============*/
.event-img{
    overflow: hidden;
    justify-self: center;
}
.event-img img{
    width: 100%;

    object-fit: contain;
}
.slider {
    display: flex;
    width: 300%;
    animation: slide 5s infinite;
}
.box{
    width: 70%;
    height: 100%;
}

@keyframes slide {
    0%, 30% { transform: translateX(0%); }
    
    35%, 65% { transform: translateX(-33.333%); }

    70%, 95% { transform: translateX(-66.666%); }
    100% { transform: translateX(0%); }
}

/* =========== 메인 =========== */
main > div{
    margin-bottom: 2%;
}

/* =========== MAIN-FIRST =========== */
.main-first{
    display: flex;
    justify-content: center;
    height:100px;
}
.main-first ul{
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 10px;
    align-items: center;
}
.main-first li{
    padding-left:2%;
    padding-right:2%;
}
.quick{
    width: 40%;
    height:70%;
    justify-content: center;
}
.main-first-left{
    background-color: #D81921; 
    color:white;
}

.main-first-left a{
    color:white;
}


/* =========== MAIN-MIDDLE =========== */

a {
    text-decoration: none;
    color: black;
}

.main-middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    text-align: center;
    justify-content: space-around;
    gap: 100px;
}

.middle-best {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: gray 1px solid;
    border-radius: 10%;
    width: 300px;
    transition: transform 0.3s ease;
    padding: 5%;
}

.middle-recommend {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: gray 1px solid;
    border-radius: 10%;
    width: 300px;
    transition: transform 0.3s ease;
    padding: 5%;
}

.middle-new {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: gray 1px solid;
    border-radius: 10%;
    width: 300px;
    transition: transform 0.3s ease;
    padding: 5%;
}

.middle-best:hover {
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5);
    border: gray 1px solid;
    border-radius: 10%;
    width: 300px;
    transform: translate(10px, -10px);
}

.middle-recommend:hover {
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5);
    border: gray 1px solid;
    border-radius: 10%;
    width: 300px;
    transform: translate(10px, -10px);
}

.middle-new:hover {
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5);
    border: gray 1px solid;
    border-radius: 10%;
    width: 300px;
    transform: translate(10px, -10px);
}

.middleicon {
    height: 200px;
    width: 200px;
}

.middleiconpadding {
    padding-left: 30px;
}

.middletext {
    font-weight: bolder;
    font-size: 20px;

}

.middlegraytext {
    color: gray;
}

/* =========== MAIN-LAST =========== */

.main-last {
    margin-top: 50px;
    display: flex;
    height: auto;
    text-align: left;
    gap: 15px;
}
.main-last ul{
    justify-items: left;
}
.main-last h3{
    margin-bottom: 10px;
}
.last-notice {
    width: 33%;
    line-height: 30px;
}
.event {
    width: 33%;
    line-height: 30px;
}
.etc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: flex-end;
    width: 33%;
    gap: 10px;
}
.smalletc{
    border:1px solid #000;
    border-radius: 10px;
    height: 60px;
    display: grid;
    place-items:center;
    background-color: white;
}

/* =========== FOOTER =========== */


footer {
    margin-top: 5%;
    border-top: 1px solid;
    border-color: #D81921;
    padding: 1%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.footergray {
     color: gray;
}

.footerlogo {
    height: 30px;
}

#footer4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#footerimg {
    display: flex;
    gap: 10%;
}

.select {
    height: 30px;
}